*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* overflow-y: hidden; */
}
.box1{
    display: flex;
    left:5px;
    top:5px;
}
.icon{
   position:absolute;
   padding:7px 10px ;
}
.input-icons{
    padding:7px;
}
.input-field{
    text-align:center;
    padding:7px;
    background-color:  #dcdcdc;
    border-radius:20px;
    border:hidden;
}
.middle-icons{
    margin-left:60px;
    margin-top:5px;
}
.middle-icons img{
    margin-left:90px;
    margin-top:8px;

}
.right-icons{
    margin-left:180px;
}
.circle{
    background-color: #dcdcdc;
    width:35px;
    height:35px;
    border-radius:50px;
    margin-top:8px;
}
main{
    background-color:#dcdcdc;
    margin-top:5px;
}
.container{
    display:flex;
}
.col1{
    display:flex;
    margin:8px;
    padding:8px;
}
.col1 img{
    border-radius: 50px;
}
.col1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
    padding-left:10px;
}
hr{
    width:250px;
    margin-left:19px;
}
.paragraph{
    font-size:22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:gray;
    margin-left:14px;
}
.col2{
    display:flex;
    margin:8px;
    padding:7px;
}
.col2 img{
    border-radius: 10px;
}
.col2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:18px;
    padding-left:10px;
}
.container2{
    margin-top:20px;
    margin-left:100px;
    border-radius:10px;
    height:260px;
}
.box2{
    background-color: white;
    display:flex;
    width:550px;
    padding:10px;
    margin-left:5px;
    border-radius:5px 5px 0px 0px;
}
.box2 p{
    font-size:22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:gray;
    margin:0px 42px;
}
.small-container{
    background-color: white;
    display:flex;
    margin-left:5px;
    padding-left:10px;
    padding-bottom: 10px;
    border-radius:0px 0px 5px 5px;
    width:550px;
}
.small-con2{
    background-image:url("images/story1.jpg");
    border-radius:10px;
    width:120px;
    height:200px;
}
.small-con2 img{
    position:absolute;
    background-size:cover;
    z-index:2;
    border:3px solid blue;
    border-radius:50px;
    margin-left:10px;
    margin-top:10px;
}
.small-con2 p{
    padding-top:150px;
    color:white;
    padding-left:10px;
}
.small-con3{
    background-image:url("images/story3.jpg");
    border-radius:10px;
    width:120px;
    height:200px;
}
.small-con3 img{
    position:absolute;
    z-index:2;
    border-radius:50px;
    border:3px solid royalblue;
    margin-left:10px;
    margin-top:10px;
}
.small-con3 p{
    padding-top:150px;
    color:white;
    padding-left:10px;
}
.small-con4{
    background-image:url("images/story3.jpg");
    border-radius:10px;
    width:120px;
    height:200px;
}
.small-con4 img{
    position:absolute;
    z-index:2;
    border:3px solid blue;
    border-radius:50px;
    margin-left:10px;
    margin-top:10px;
}
.small-con4 p{
    padding-top:150px;
    color:white;
    padding-left:10px;
}
.box-wrapper{
    background-color: white;
    border-radius:10px;
    width:550px;
    margin-top:10px;
    margin-left:5px;
}
.box3{
    display: flex;
   
}
.box3 img{
    border-radius:50px;
    margin:10px 0px 0px 15px;

}
.box3 input{
    background-color:#dcdcdc ;
    width:350px;
    height:35px;
    margin-top:10px;
    margin-left:10px;
}
.wrap{
    display: flex;
    padding:10px 0px 15px 0px;
}
.wrap1{
    display:flex;
    margin-left:45px;
}
.wrap1 p{
    font-size:16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:gray;
    margin-left:10px;
}
.wrap2{
    background-color: white;
    padding:12px;
    border-radius: 10px;

}
.wrap3{
    display: flex;
   }
.wrap3 img{
    border-radius:50px;
}
.wrap3 p{
    padding:10px 0px 0px 15px;
}
.container3{
    margin-left:80px;
    margin-top:15px;
}
.paragraph2{
    font-size:19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:gray;
    margin-left:20px;
}
.col3{
    display: flex;
    margin-top:10px;
}
.col3 img{
    border-radius:50px;
}
.col3 p{
    margin-left: 10px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn1{
    background-color: blue;
    color: white;
    margin:15px 0px 0px 60px ;
    width:210px;
    font-weight: bold;
    padding:7px;
    border:hidden;
    border-radius:5px;
}
.btn2{
    background-color:rgb(117, 114, 114);
    color:black ;
    margin:15px 0px 0px 60px ;
    width:210px;
    font-weight: bold;
    padding:7px;
    border:hidden;
    border-radius:5px;
}